# Visual Studio cache
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.exe
*.pdb
*.cache
*.futdcache.v2
*.backupjson
*.suo
*.user
*.tmp
*.temp
*.log
*.svclog
*.psess
*.vsp
*.pidb
*.trx
*.coverage
*.coveragexml
*.binlog
artifacts/
packages/
ScaffoldingReadMe.txt
Thumbs.db
.DS_Store